<!DOCTYPE html>
<title>AdwordsOnRails Demo</title>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<div id="global-header">
  <% account_text = (@selected_account.nil?) ? 'Not selected' : @selected_account %>
  <span>Active account: <%= account_text %></span>
</div>

<div id="global-alers">
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>

<%= yield %>

<div id="global-footer">
  <span class="small-print"><%= link_to('Log out', login_logout_path) %></span>
</div>
